.paintboard-wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60vw;
    height: 100%;

    border: 2px solid #eeeeee;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.paint-board {
    display: flex;
    justify-content: center;
    align-items: center;

}
.paint-board__body {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    width: 35vw;
    height: 35vw;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .paintboard-wrap {

    width: 100%;    
    height: 65vh;

    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
    border: 2px solid #eeeeee;
    }
    .paint-board__body {
        width: 45vw;
        height: 45vw;
    }

}


@media screen and (max-width: 767px) {
    .paintboard-wrap { 
        width: 100%; 
        height: 40vh;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0;
        border: 2px solid #eeeeee;

    }
    .paint-board__body {
        width: 65vw;
        height: 65vw;
    }

}
@media screen and (min-width: 540px) and (max-width: 767px) {
    .paintboard-wrap { 
        height: 55vh;
    }
    .paint-board__body {
        width: 50vw;
        height: 50vw;
    }

}
@media screen and (min-width: 322px) and (max-width: 539px) {
.paintboard-wrap { 
        height: vh;
    }
    .paint-board__body {
        width: 70vw;
        height: 70vw;
    }

}
@media screen and (max-width: 321px) {
    .paintboard-wrap { 
        width: 100%; 
        height: 45vh;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0;
        border: 2px solid #eeeeee;

    }
    .paint-board__body {
        width: 70vw;
        height: 70vw;
    }

}