.room-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 50px;

    padding: 0 30px;
    margin-bottom: 5px;
    box-sizing: border-box;
    
    transition: background 0.2s ease; 
}
.active {
     background-color: #74d1842c;
}
.room-item:hover {
    background-color: #74d1842c;
}

.room-item__delete-btn {
    width: 24px;
    height: 24px;
    
    border: none;
    background: url('https://image.flaticon.com/icons/png/512/1869/1869668.png') no-repeat;
    background-size: contain;

    transition: transform 0.3s ease;
}
.room-item__delete-btn:hover {
    transform: scale(1.2);
}
.roomitem-link {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    
    text-decoration: none;
    font-weight: 600;
    color: #000000
}
.link-active {
    color: #50965C;
}

.roomitem-link:focus  {
    color: #50965C;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    .roomitem-link {
        font-size: 20px;
    }
    .room-item__delete-btn {
        width: 40px;
        height: 40px;
    }
}
@media screen and (max-width: 321px) {
    .roomitem-link {
        font-size: 14px;
    }
}