.app {
    display: flex;
    justify-content: space-between;

    width: 90%;
    height: 85vh;
    margin: 0 auto;
    
    border-radius: 20px;
}

@media screen and (max-width: 1024px) {
    .app {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: auto;
        padding: 0;
       
    }
}