.roomlist__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    height: 100%;
    
    border: 2px solid #eeeeee;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #FAFAFA;
    

}

.roomlist__create-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin: 10px 0;
    padding: 10px 30px;

    border-bottom: 2px solid #eeeeee;
    box-sizing: border-box;
}
.roomlist__input {
    padding: 5px 0;

    width: 80%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid grey;
}
.roomlist__btn-create {
    min-width: 25%;
    height: 70%;

    background: none;
    border: none;

    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: white;
    border-radius: 5px;
    background-color: #50965C;

    transition: background 0.2s ease;
}
.roomlist__btn-create:hover {
    cursor: pointer;
    background-color: #407a4a;
}

.roomlist__text {
    display: flex;
    flex-direction: column;

    width: 20vw;
    margin: 0;
    padding: 0;

    font-size: 12px;
    font-weight: 600;
    color: grey;
}   
.roomlist__list {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    
    .roomlist__body{
        width: 100%;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
    }
    .roomlist__text {
        font-size: 18px;
    }
    .roomlist__input {
        width: 40vw;
        font-size: 20px;
    }
    .roomlist__btn-create {
        width: 30%;
        height: 40px;
        align-self: flex-end;

        font-size: 20px;
    }
}
@media screen and (max-width: 767px) {
     .roomlist__body{
        width: 100%;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
    }
    .roomlist__text {
        font-size: 10px;
    }
    .roomlist__input {
        width: 40vw;
        font-size: 12px;
    }
    .roomlist__btn-create {
    width: 30%;
    height: 30px;
    align-self: flex-end;

    font-size: 10px;
    }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
     .roomlist__text {
        font-size: 140x;
    }
    .roomlist__input {
        width: 40vw;
        font-size: 12px;
    }
    .roomlist__btn-create {
        font-size: 10px;
    }
}